.App {
  background-color: #f4f5f7;
  text-align: center;
  height: 100%;
}

.App-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 110px;
  position: sticky;
  top: 0;
  background-color: #f4f5f7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.App-filters input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 40%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  display: block;
  appearance: none;
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
}

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 40px;
}

.card-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
}

.card-header p {
  padding-left: 0 !important;
}

.card-header::before {
  border: 0 solid #d2d6dc;
}

.card-header::after {
  border: 0 solid #d2d6dc;
}

.card h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #161e2e;
}

.card p {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card p.even {
  background-color: #fff;
}

.card {
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 10px;
  flex-grow: 1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: left;
}

.card-body {
  background-color: #f9fafb;
}

.card-body p span {
  font-weight: 500;
  color: #6b7280;
  line-height: 1.25rem;
}

.card-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-width: 1px;
  border-color: #e5e7eb;
}

.card-footer p {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.status {
  text-align: left;
  margin: 0;
}
